/*
	This is the default stylesheet for the site.
	If you want to change the stylesheet for the site, edit the path in files/settings.php -> $yocto["style"]
*/

/*
	HTML ELEMENTS
*/
* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1;
}

h1, h2, h3, h4, h5, h6, p {
   font: 62.5%/1.5  Verdana, sans-serif; 
}

h1{
	font-size: 2.0em;
}

h2 {
	font-size: 1.8em;
}

h3 { 
	font-size: 1.6em;
} 

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

p {
	font-size: 1em;
}

table{
	border-collapse: collapse;
	margin: 1em 0;
}

table tr td{
	padding: 1em;
}

table tr:nth-child(2n){
	background-color: #dddddd;
}

/*
	DIV CONTAINERS
*/

#all{
	margin: 1em;
	padding: 1em;
}

#header{

}

#content{
	margin-right: 240px;
	padding: 1em;
}

#footer{

}

#sidebar{
	margin: 1em;
	padding: 1em;
	border: 1px solid black;
	width: 200px;
	float: right;
}

#sidebar ul{
	list-style-type: none;
	list-style-image: none;
}

/*
	CLASSES
*/

.post{
	border-top: 1px solid black;
	padding: 1em 0em;
}

.comment{

}

/*
	CREATEPOST
*/

#create_post_text_field{
	height: 400px;
	width: 800px;
}